body {
  background-color: #dfdddd;
    padding-top: 100px;
}

/* edit carusel bootstrap just to fix img{height} & position carusel */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-height: 100%;
    line-height: 1;
    margin: 0 auto;
    max-width: 100%;
}
.carousel{
  position: relative;
  bottom: 50px;
}


/*
@media only screen and (max-width : 765px) {
  #ul-right{
    display:none;
  }
}
*/

.places-run-bsas h2,h3{
  text-align: center;
}

.palermo p,img,h3{
  margin-bottom: 20px;
}

.palermo img{
  width: 100%;
}
