// niveles de peso en css: general < class < id
html, body{
  height: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  background: url(../images/back_space.png)
}
h1{
  color: rgb(203, 200, 209);
  text-align: center;
  font-family:sans-serif;
  text-decoration: underline;
}

h2{
  color: rgb(94, 89, 110);
  font-weight: normal;
}

p{
  color: #5c6bc0;
  font-size: 14px;
  line-height: 9px;
}

ul,ol{
  color: rgb(70, 77, 124);
  list-style: none;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(117, 108, 150)
}

.img_hobbies{
  width: 360px;
}

.mail{
  color: rgba(160, 161, 193, 0.78);
}

#pag_hob{
  color: rgb(155, 150, 181);
}

.destacado{
  color: rgb(126, 138, 163);
  font-family: fantasy;
  font-size: 24px;
  line-height: 20px;
}
